@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

body, html {
	margin: 0;
}

body {
	height: 100%;
	font-family: 'Montserrat';
	font-family: 'Slabo 27px', serif;
}

h1, h2 {
	font-family: 'Ultra', serif;
}

header {
	position: absolute;
	padding: 1em;
	z-index: 20;
	display: flex;
	justify-content: space-between;
	// Remove padding from both sides of header
	width: calc(100% - 2em);
	background: white;

	a {
		text-decoration: none;
		color: black;
	}

	a.logo {
		font-weight: bold;
		text-transform: uppercase;
	}
	
	nav ul {
		list-style-type: none;
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin: 0;
		padding: 0;

		li a {
			padding: 1em;
		}
	}
}

.wrapper {
	display: grid;
	grid-template-columns: auto;

	section {
		padding: 3em;

		h1, h2, .read-btn {
			text-transform: uppercase;
			margin: 0;
		}

		h1, h2 {
			letter-spacing: 1.5px;
		}

		h2 {
			font-size: 1.4rem;
		}

		.read-btn {
			
		}
	}
}