body {
  font-family: 'Roboto Slab', serif;
  background-color: white;
}

.content {
  margin: auto;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-header {
  text-align: center;
  padding: 20px;
}

.intro-header {
  text-align: center;
  background-color: #DA5552;
  padding: 20px;
}

.about-me-header {
  text-align: center;
  background-color: #DF7373;
  padding: 20px;
}

.education-header {
  text-align: center;
  background-color: #E39695;
  padding: 20px;
}

.experience-header {
  text-align: center;
  background-color: #E4B1AB;
  padding: 20px;
}

h1 {
  font-size: 60px;
  color: black;
}

h2 {
  margin-bottom: 20px;
  color: white;
}

p {
  color: black;
}

.page-footer {
  background-color: #E3DFFF;
}
