body {
  font-family: 'Roboto Slab', serif;
  background-color: white;
}

.content {
  margin: auto;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-header {
  text-align: center;
  background-color: #DA5552;
  padding: 20px;
  margin: 20px;
}

.about-me-header {
  text-align: center;
  background-color: #DF7373;
  padding: 20px;
  margin: 20px;
}

.education-header {
  text-align: center;
  background-color: #E39695;
  padding: 20px;
  margin: 20px;
}

.experience-header {
  text-align: center;
  background-color: #E4B1AB;
  padding: 20px;
  margin: 20px;
}

h1 {
  font-size: 60px;
  color: white;
}

h2 {
  margin-bottom: 20px;
  color: white;
}

h4 {
  margin-top: 10px;
}

h5 {
  margin-top: 10px;
}

p {
  margin-top: 10px;
  color: black;
}

.page-footer {
  background-color: #E3DFFF;
  padding: 40px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

.fa-facebook {
  background-color: #3B5998;
  color: white;
}

.fa-linkedin {
  background-color: #007bb5;
  color: white;
}

.fa-github {
  background-color: black;
  color: white;
}
